{{template "base" .}}


{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>About page!</h1>
            <p>This came from sent data: {{index .StringMap "test"}}</p>
            <p>
                {{if ne (index .StringMap "remote_ip") ""}}
                    Your remote ip is: {{index .StringMap "remote_ip"}}
                {{else}}
                    I don't know your remote IP. Visit <a href="/">Home page</a>
                {{end}}
            </p>
        </div>
    </div>
</div>
{{end}}